@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

#app {
 font-family: 'Roboto', sans-serif;
 --font-regular: 16px;
 --font-big: 24px;
 --font-bigger: 28px;
 --font-huge: 32px;
 --main-color: #8bc34a;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

a { color: var(--main-color); }
a:hover { border-bottom: 1px solid var(--main-color); }

p, h1, h2, h3, h4, h5 {
  padding: 0 10px;
}

p, .post-item-short {
  font-size: var(--font-regular);
  line-height: calc(var(--font-regular) * 1.7)
}

h1 {
  font-size: var(--font-huge);
}

h2 {
  font-size: var(--font-bigger);
}

h3 {
  font-size: var(--font-big);
}

.posts-list .post-item {
 margin: 10px;
 padding: 10px;
 border-radius: 5px;
 background-color: var(--main-color);
 transition: background-color 0.3s linear;
}

.posts-list .post-item:hover { background-color: #64b596 }
