@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

#app {
 font-family: 'Roboto', sans-serif;
 height: 100vh;
 --font-regular: 16px;
 --font-big: 24px;
 --font-bigger: 28px;
 --font-huge: 32px;
 --main-color: #8bc34a;
 --secondary-color: #607d8b;
}

#app main { 
 min-height: 100vh;
 overflow: auto;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

a { color: var(--main-color); }
a:hover { border-bottom: 1px solid var(--main-color); }

p, h1, h2, h3, h4, h5 {
  padding: 10px;
}

p, .post-item-short {
  font-size: var(--font-regular);
  line-height: calc(var(--font-regular) * 1.7)
}

h1 {
  font-size: var(--font-huge);
}

h2 {
  font-size: var(--font-bigger);
}

h3 {
  font-size: var(--font-big);
}

.menu-wrapper {
 background-color: var(--secondary-color);
 padding: 10px;
 margin: 0;
}

.menu-wrapper .menu { display: flex; flex-direction: row; align-items: center; gap: 10px; }

.menu-link a { display: block; color: #fff; padding: 10px; text-decoration: none; }
.menu-link a:hover { border: none; background-color: #000; color: #fff;  }
